{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EARTH AND MOON</title>

    <style>


body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        .logo{
            position: absolute;
            top: 10px;
        }


    </style>


    <script type="importmap">
        {
        "imports": {
            "three": "https://unpkg.com/three@v0.149.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.149.0/examples/jsm/"
        }
        }
    </script>
      
</head>
<body>
    <div class="logo">

    
    
        <script type="module" >
            import { TextGeometry } from 'three/addons/geometries/TextGeometry.js';
            import { FontLoader } from 'three/addons/loaders/FontLoader.js';

            import * as THREE from 'three';
            
            const scene = new THREE.Scene();
            const camera = new THREE.PerspectiveCamera( 75, window.innerWidth /
            window.innerHeight, 0.1, 1000 );


            const renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            document.body.appendChild( renderer.domElement );


            //const loader = new FontLoader();

       


    
                
            

            const geometry = new THREE.TorusGeometry( 1, 0.2, 16, 100 ); 
            const material = new THREE.MeshBasicMaterial( { color: 0xf7931a } ); 
            const torus = new THREE.Mesh( geometry, material ); 
            scene.add( torus );

            // Création du cercle interne (disque)
            const innerGeometry = new THREE.CircleGeometry(0.5, 100);
            const innerMaterial = new THREE.MeshBasicMaterial({ color: 0xffffff }); // Blanc
            const innerCircle = new THREE.Mesh(innerGeometry, innerMaterial);
            scene.add(innerCircle);


            const loader = new FontLoader();
        loader.load( 'https://threejs.org/examples/fonts/helvetiker_regular.typeface.json', function ( font )
        {

            const matLite = new THREE.MeshBasicMaterial(
             {
                size:0.05,
              color: 0xE1B32F,
              transparent: true,
              opacity: 0.8,
              side: THREE.DoubleSide
            } );

            const message = "The world is yours";

            const shapes = font.generateShapes( message, 1 );

            const geometry = new THREE.ShapeGeometry( shapes );
            geometry.computeBoundingBox();

            const xMid = - 0.5 * ( geometry.boundingBox.max.x - geometry.boundingBox.min.x );
            geometry.translate( xMid, 0, 0 );
          
            const text = new THREE.Mesh( geometry, matLite );
            text.position.y = 2;   
            torus.add(text);       
        } ); 

            
            scene.add(camera);
            camera.position.z = 5;
            camera.position.y=0;


            function animate() {


            requestAnimationFrame( animate );
            
                
            innerCircle.rotation.y+=0.05;
            torus.rotation.y+=-0.05;
            renderer.render( scene, camera );
            }
            animate();
    </script>
    </div>
</body>
</html>